body {
  font-family: Arial, Helvetica, sans-serif; }

header {
  border-bottom: solid 1px var(--grey);
  display: flex;
  justify-content: space-between;
  padding: 10px; }
  header ul {
    display: none; }
    @media only screen and (min-width: 1024px) {
      header ul {
        display: inline-block;
        list-style: none;
        margin: auto 0px; } }
    header ul li {
      display: inline;
      list-style: none; }
      @media only screen and (min-width: 1024px) {
        header ul li {
          margin-right: 10px; } }
      header ul li a {
        color: black;
        text-decoration: none;
        margin: auto; }

footer {
  border-top: solid 1px var(--grey);
  padding: 10px;
  text-align: center; }

body {
  margin: 0px; }

main {
  padding: 10px; }

:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --grey: rgba(142, 142, 142, 0.5); }

@media only screen and (min-width: 1024px) {
  .section1 {
    display: grid;
    grid-template-columns: repeat(2, 50%); } }
.section1 img {
  width: 100%;
  height: auto; }
@media only screen and (min-width: 1024px) {
  .section1-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px; } }
.section1-content .section1-ofert {
  color: red;
  font-weight: bold; }
.section1 .price-boton {
  display: flex; }
  .section1 .price-boton a {
    padding: 15px;
    background-color: blue;
    border-radius: 50px;
    border: none;
    color: white;
    margin-left: 30px;
    margin: auto; }
.section1 .catacteristicas {
  display: grid;
  grid-template-columns: 1fr 1fr; }
  @media only screen and (min-width: 1024px) {
    .section1 .catacteristicas {
      grid-template-columns: 1fr 1fr 1fr; } }
  .section1 .catacteristicas p {
    display: flex; }
    .section1 .catacteristicas p::before {
      margin: auto;
      padding-right: 10px; }
@media only screen and (min-width: 1024px) {
  .section2 div {
    display: grid;
    grid-template-columns: repeat(4, 25%); } }
.section2 div img {
  width: 100%;
  height: auto; }
.section2 div article {
  border: solid 1px var(--grey);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px; }
  @media only screen and (min-width: 1024px) {
    .section2 div article {
      margin: 20px; } }
  .section2 div article .article-oferta {
    width: 45px;
    background-color: red;
    padding: 5px;
    border-radius: 5px;
    color: white; }
  .section2 div article .article-new {
    width: 45px;
    background-color: blue;
    padding: 5px;
    border-radius: 5px;
    color: white; }
.section3 {
  background-color: rgba(61, 35, 211, 0.2);
  padding: 10px 20px; }
  @media only screen and (min-width: 1024px) {
    .section3 {
      display: grid;
      grid-template-columns: 65% 35%; } }
  .section3 form {
    display: flex;
    flex-direction: column; }
    .section3 form label {
      margin-bottom: 10px; }
    .section3 form input {
      padding: 10px;
      margin-bottom: 10px; }
    .section3 form button {
      padding: 5px;
      background-color: #1e90ff;
      width: 100px;
      margin-top: 10px; }

/*# sourceMappingURL=style.css.map */
